body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
  position: relative;
}

.nav__logo, .nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list, .footer__container, .insurance__list, .services__list, .about__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 100vh;
  background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url("../img/doctor.png");
  background-size: cover;
  padding: 0.1rem;
  background-attachment: fixed;
}
.header__heading {
  margin: 25rem auto 0;
  text-align: center;
}
.header__heading h1 {
  font-size: 6.5rem;
  color: #1862AB;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.header__heading h3 {
  font-size: 2.5rem;
  margin: 1rem auto 3.5rem;
  color: #1862AB;
}
.header__heading h5 {
  font-size: 1.9rem;
  color: #1862AB;
  margin: 1.5rem;
}
.header__heading button {
  background-color: #10D19E;
  color: #fcfcfc;
  font-size: 1.5rem;
  border: none;
  height: 4.4rem;
  width: 16rem;
  margin: 3.5rem auto 0;
}
.header__heading button:hover {
  cursor: pointer;
  background-color: #11dfa9;
}

@media (max-width: 710px) {
  .header h1 {
    font-size: 5.5rem;
  }
  .header h3 {
    font-size: 2.3rem;
  }
  .header h5 {
    font-size: 1.8rem;
  }
}
@media (max-width: 465px) {
  .header h1 {
    font-size: 4.7rem;
  }
  .header h3 {
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .header h5 {
    display: none;
  }
}
.about {
  text-align: center;
  padding: 0.1rem;
  background-color: #F2FFFC;
}
.about h1 {
  color: #1862AB;
  font-size: 2.8rem;
  margin: 11rem auto 2rem;
}
.about p {
  width: 76rem;
  margin: 5rem auto 0;
  font-size: 2.1rem;
  line-height: 3.2rem;
  color: #1862AB;
  max-width: 90%;
}
.about__list {
  padding: 0;
  list-style: none;
  margin: 9rem auto 0;
  flex-wrap: wrap;
}
.about__item {
  text-align: center;
  width: 20rem;
  margin: 0 2.2rem;
}
.about__item img {
  width: 6.9rem;
}
.about__item h5 {
  color: #1862AB;
  font-size: 2rem;
  margin-top: 1.45rem;
}
.about button {
  background-color: #10D19E;
  color: #fcfcfc;
  font-size: 1.5rem;
  border: none;
  height: 4.4rem;
  width: 16rem;
  margin: 5.5rem auto 5rem;
}
.about button:hover {
  cursor: pointer;
  background-color: #11dfa9;
}

.services {
  text-align: center;
  background-color: #fcfcfc;
  padding: 0.1rem;
}
.services h1 {
  color: #1862AB;
  font-size: 2.8rem;
  margin-top: 9rem;
}
.services p {
  width: 60rem;
  margin: 5rem auto 0;
  font-size: 2.1rem;
  line-height: 3.2rem;
  color: #1862AB;
  max-width: 90%;
}
.services__list {
  padding: 0;
  list-style: none;
  margin-top: 7rem;
  flex-wrap: wrap;
}
.services__item--one {
  background: linear-gradient(rgba(242, 255, 252, 0.35), rgba(242, 255, 252, 0.35)), url("../../img/vaccine.png");
  background-size: cover;
  height: 37rem;
  width: 24rem;
  margin: 0 1.5rem;
  position: relative;
}
.services__item--two {
  background: linear-gradient(rgba(242, 255, 252, 0.35), rgba(242, 255, 252, 0.35)), url("../../img/lab.png");
  background-size: cover;
  height: 37rem;
  width: 24rem;
  margin: 0 1.5rem;
  position: relative;
}
.services__item--three {
  background: linear-gradient(rgba(242, 255, 252, 0.35), rgba(242, 255, 252, 0.35)), url("../../img/occuDoctor.png");
  background-size: cover;
  height: 37rem;
  width: 24rem;
  margin: 0 1.5rem;
  position: relative;
}
.services__item--four {
  background: linear-gradient(rgba(242, 255, 252, 0.35), rgba(242, 255, 252, 0.35)), url("../../img/bandage.png");
  background-size: cover;
  height: 37rem;
  width: 24rem;
  margin: 0 1.5rem;
  position: relative;
}
.services__item--overlay {
  background-color: rgba(250, 250, 250, 0.8);
  font-size: 1.9rem;
  color: #1862AB;
  position: absolute;
  top: 20rem;
  left: 3.3rem;
  width: 17rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services button {
  background-color: #10D19E;
  color: #fcfcfc;
  font-size: 1.5rem;
  border: none;
  height: 4.4rem;
  width: 16rem;
  margin: 9rem auto 7rem;
}
.services button:hover {
  cursor: pointer;
  background-color: #11dfa9;
}

@media (max-width: 1082px) {
  .services__list {
    width: 75rem;
    margin: 5rem auto 0;
    max-width: 90%;
  }

  .services__item--three, .services__item--four {
    margin-top: 1.5rem;
  }
}
@media (max-width: 625px) {
  .services__list {
    min-width: 100%;
  }
  .services__item--one, .services__item--two, .services__item--three, .services__item--four {
    width: 100%;
    margin: 2rem 0;
    height: 37rem;
  }
  .services button {
    margin-top: 5rem;
  }
}
.insurance {
  background-color: #F2FFFC;
  padding: 0.1rem;
  text-align: center;
}
.insurance h1 {
  color: #1862AB;
  font-size: 2.8rem;
  margin: 9rem auto 2rem;
}
.insurance p {
  font-size: 2.1rem;
  color: #1862AB;
  max-width: 80%;
  margin: 3rem auto 0;
}
.insurance__list {
  padding: 0;
  max-width: 90rem;
  list-style: none;
  flex-wrap: wrap;
  margin: 5rem auto 12rem;
}
.insurance__item {
  margin: 2rem 4.5rem;
}
.insurance__item img {
  width: 20rem;
}

.footer {
  background-color: #1862AB;
  padding: 0.1rem;
}
.footer__container {
  width: 80%;
  margin: 5rem auto 8rem;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__container h3 {
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.footer__container p {
  font-size: 1.5rem;
}
.footer__address {
  color: #fcfcfc;
  width: 25rem;
}
.footer__hours {
  color: #fcfcfc;
  width: 25rem;
}
.footer__contact {
  color: #fcfcfc;
  width: 33rem;
}
.footer__form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__form input {
  width: 47%;
  border: none;
  height: 3.8rem;
  font-size: 1.3rem;
  text-indent: 1rem;
}
.footer__form input::placeholder {
  color: #1862AB;
}
.footer__form button {
  width: 47%;
  border: none;
  height: 4rem;
  font-size: 1.3rem;
  background-color: #10D19E;
  color: #fcfcfc;
}
.footer__form button:hover {
  cursor: pointer;
  background-color: #11dfa9;
}
.footer__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fcfcfc;
}
.footer__list--item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}
.footer__list--item img {
  width: 2rem;
}
.footer__list--item img:hover {
  cursor: pointer;
}
.footer__list--item:last-child {
  padding-top: 0.2rem;
}
.footer__list--item:first-child {
  margin-left: -0.3rem;
}

@media (max-width: 1075px) {
  .footer__container {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__address, .footer__hours, .footer__contact {
    width: 100%;
  }
  .footer__list {
    margin-top: 2rem;
  }
}
@media (max-width: 495px) {
  .footer__form {
    flex-direction: column;
  }
  .footer__form input {
    width: 100%;
  }
  .footer__form button {
    width: 100%;
    margin-top: 1.5rem;
  }
}
.nav {
  width: 100%;
  background-color: #1862AB;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
}
.nav__wrapper {
  width: 80%;
  margin: 0 auto;
}
.nav__wrapper .mobile-nav {
  width: 3.2rem;
  display: none;
  transition: all 1s;
}
.nav__wrapper .mobile-nav:active {
  transform: rotate(300deg);
}
.nav__wrapper .mobile-nav:hover {
  cursor: pointer;
}
.nav__logo {
  width: 24rem;
}
.nav__logo img {
  height: 6.5rem;
}
.nav__logo h3 {
  color: #fcfcfc;
  font-size: 2.5rem;
  margin: auto;
}
.nav__list {
  padding: 0;
  list-style: none;
}
.nav__item {
  margin: 0 1.3rem;
}
.nav__item a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 1.65rem;
}
.nav__item:hover {
  cursor: pointer;
}
.nav__item:hover a {
  color: #10D19E;
}

@media (max-width: 830px) {
  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #165a9e;
    width: 100vw;
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
  }
  .nav__item {
    border-bottom: 0.1rem solid #fafafa;
    width: 100%;
    text-align: center;
    padding: 1.2rem 0;
  }
  .nav__item a {
    font-size: 2.8rem;
  }
  .nav__item:last-child {
    border: none;
  }
  .nav__item:first-child {
    margin-top: -20rem;
  }
  .nav .mobile-nav {
    display: inline-flex;
    position: absolute;
    right: 5.5rem;
    z-index: 111;
  }
}
@media (max-width: 450px) {
  .nav__wrapper {
    width: 93%;
  }
  .nav__wrapper .mobile-nav {
    right: 2.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
